<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291834718850-sro825nstp89im6mankseg1u4tm49kf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291834718850-sro825nstp89im6mankseg1u4tm49kf2</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-H9sbdqE2q9MJrzslmzH-wWrZkiyHtY</string>
	<key>GCM_SENDER_ID</key>
	<string>291834718850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.tm.idraw</string>
	<key>PROJECT_ID</key>
	<string>remote-cc744</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-cc744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291834718850:ios:58d43049b35149ca</string>
	<key>DATABASE_URL</key>
	<string>https://remote-cc744.firebaseio.com</string>
</dict>
</plist>